<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Dashboard</title>
    <meta name="description" content="Flatter - Flat Admin Theme">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/static/image/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/static/image/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/static/mage/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/image/touch/apple-touch-icon-57x57-precomposed.png">
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/lib/jqueryui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/easypiechart/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="/static/lib/c3js/d3.min.js"></script>
    <script type="text/javascript" src="/static/lib/c3js/c3.min.js"></script>
    <script type="text/javascript" src="/static/lib/switchery/switchery.min.js"></script>
    <script type="text/javascript" src="/static/lib/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery-easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/lib/calendario/js/jquery.calendario.js"></script>
    <script type="text/javascript" src="/static/lib/offlinejs/offline.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
    <link rel="shortcut icon" href="/static/image/touch/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/c3js/c3.css">
    <link rel="stylesheet" href="/static/lib/switchery/switchery.min.css">
    <link rel="stylesheet" href="/static/lib/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="/static/lib/calendario/css/calendar.css">
    <link rel="stylesheet" href="/static/lib/offlinejs/themes/offline-theme-dark.css">
    <link rel="stylesheet" href="/static/css/bootstrap-override.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/library.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="body">

<!-- Header -->
<header class="navbar main-header">
    <a class="navbar-brand" href="index.html">
        flatter
    </a>
    <ul class="nav navbar-nav navbar-left sidebar-toggle-ul">
        <li class="navbar-main hidden-lg hidden-md">
            <a href="javascript:void(0);" id="sidebar-toggle">
                            <span class="meta">
                                <span class="icon"><i class="fa fa-bars"></i></span>
                            </span>
            </a>
        </li>

        <li class="navbar-main hidden-sm hidden-xs">
            <a href="javascript:void(0);" id="sidebar-collapse">
                            <span class="meta">
                                <span class="icon"><i class="fa fa-outdent"></i></span>
                            </span>
            </a>
        </li>
    </ul>


    <ul class="nav navbar-nav navbar-left">

        <form class="navbar-form navbar-left margintop" role="search">
            <div class="form-group">
                <input type="text" class="form-control search" placeholder="Search">
            </div>
        </form>

        <li class="dropdown hide-xs-mobile">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" id="fixed-sidebar-link">Fixed sidebar</a></li>
                <li><a href="#" id="fixed-navbar-link">Fixed Navbar</a></li>
            </ul>
        </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown icons-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i></a>
            <ul class="dropdown-menu list-group">
                <li class="list-group-item heading"><p>Notification</p></li>
                <a href="#" class="list-group-item"><i class="fa fa-user"></i>
                    <p>John sent you friend request</p></a>
                <a href="#" class="list-group-item"><i class="fa fa-envelope-o"></i>
                    <p>Sam sent important mail</p></a>
                <a href="#" class="list-group-item"><i class="fa fa-calendar"></i>
                    <p>You have pending job</p></a>
                <a href="#" class="list-group-item"><i class="fa fa-money"></i>
                    <p>Received $1826 from client</p></a>

            </ul>
        </li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">John <img class="img-circle" src="img/avatar.png"
                                                                                 alt="avatar"/> <b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-globe"></i> Notification <span class="label label-danger"> 5</span></a>
                </li>
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li><a href="#"><i class="fa fa-share"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<div class="sidebar sidebar-left">
    <div class="content">
        <ul class="nav nav-tabs nav-justified sidetabs">
            <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-compass"></i> </a></li>
            <li><a href="#users" data-toggle="tab"><i class="fa fa-user"></i> </a></li>
            <li><a href="#email" data-toggle="tab"><i class="fa fa-envelope-o"></i></a></li>
        </ul>

        <div class="tab-content sidetabs">
            <div class="tab-pane active" id="home">
                <ul class="sidemenu">
                    <li class="sidebar-header">Home</li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-chain"></i></span>
                            <span class="name">资料管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>商品编码设置</p></li>
                            <li><a href="general-elements.html">商品资料维护</a></li>
                            <li><a href="typography-elements.html">供应商资料维护</a></li>
                            <li><a href="buttons-elements.html">客户资料维护</a></li>
                            <li><a href="widgets-elements.html">业务员资料维护</a></li>
                            <li><a href="slider-elements.html">仓库信息维护</a></li>
                            <li><a href="panels-elements.html">采购合同管理</a></li>
                            <li><a href="alerts-elements.html">销售合同管理</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-chain"></i></span>
                            <span class="name">采购管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>采购管理</p></li>
                            <li><a href="general-elements.html">采购订单</a></li>
                            <li><a href="typography-elements.html">进货单</a></li>
                            <li><a href="buttons-elements.html">退货管理</a></li>
                            <li><a href="widgets-elements.html">进货价格调整</a></li>
                            <li><a href="slider-elements.html">进货单位调整</a></li>
                            <li><a href="panels-elements.html">历史查询</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-gears"></i></span>
                            <span class="name">销售管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>销售管理</p></li>
                            <li><a href="grids.html">销售订单</a></li>
                            <li><a href="calendar.html">销售单</a></li>
                            <li><a href="gallery.html">销售退货单</a></li>
                            <li><a href="draggable.html">调整历史售价</a></li>
                            <li><a href="font-awesome.html">历史查询</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa fa-tasks"></i></span>
                            <span class="name">库存管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>库存管理</p></li>
                            <li><a href="form-elements.html">库存查询</a></li>
                            <li><a href="form-validation.html">库存转库</a></li>
                            <li><a href="form-wizards.html">库存盘点</a></li>
                            <li><a href="form-advancecomponents.html">报损报溢</a></li>
                            <li><a href="form-fileupload.html">上下限设定</a></li>
                            <li><a href="form-fileupload.html">库存上下限报警</a></li>
                            <li><a href="form-fileupload.html">历史查询</a></li>

                        </ul>

                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-envelope-o"></i></span>
                            <span class="name">应付款管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>应付款管理</p></li>
                            <li><a href="mail-inbox.html">预付款管理</a></li>
                            <li><a href="mail-compose.html">应付款明细</a></li>
                            <li><a href="mail-view.html">应付款汇总</a></li>
                            <li><a href="mail-view.html">付款单</a></li>
                            <li><a href="mail-view.html">已付款明细</a></li>
                            <li><a href="mail-view.html">历史查询</a></li>
                            <li><a href="mail-view.html">应付款账簿</a></li>
                            <li><a href="mail-view.html">应付款帐龄</a></li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-table"></i></span>
                            <span class="name">应收款管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>应收款管理</p></li>
                            <li><a href="basic-tables.html">预收款管理</a></li>
                            <li><a href="data-tables.html">应收款明细</a></li>
                            <li><a href="mail-view.html">应收款汇总</a></li>
                            <li><a href="mail-view.html">收款单</a></li>
                            <li><a href="mail-view.html">已收款明细</a></li>
                            <li><a href="mail-view.html">历史查询</a></li>
                            <li><a href="mail-view.html">应收款账簿</a></li>
                            <li><a href="mail-view.html">应收款帐龄</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-bar-chart-o"></i></span>
                            <span class="name">账务管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>账务管理</p></li>
                            <li><a href="c3-charts.html">结账日期设定</a></li>
                            <li><a href="morris-charts.html">模拟结账</a></li>
                            <li><a href="flot-charts.html">正是结账</a></li>
                            <li><a href="chartsjs-charts.html">进销存汇总</a></li>
                            <li><a href="chartsjs-charts.html">历史查询</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-map-marker"></i></span>
                            <span class="name">统计分析</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>统计分析</p></li>
                            <li><a href="google-maps.html">采购统计</a></li>
                            <li><a href="vector-maps.html">销售统计</a></li>
                            <li><a href="vector-maps.html">库存统计</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="icon"><i class="fa fa-file"></i></span>
                            <span class="name">系统管理</span>
                            <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                        </a>
                        <ul class="sidebar-dropdown">
                            <li class="sidebar-dropdown-title"><p>系统管理</p></li>
                            <li><a href="login.html">参数设置</a></li>
                            <li><a href="register.html">权限设置</a></li>
                            <li><a href="404.html">数据备份</a></li>
                            <li><a href="500.html">数据恢复</a></li>
                            <li><a href="lockscreen.html">日志管理</a></li>
                            <li><a href="pricing-table.html">更改密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Header -->
{% block index %}

{% endblock %}

</body>
</html>